*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

p{
    color: green;
    font-size: 20px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: bold;
  text-align: justify;
  }
  h1{
    color: red;
    font-size: 100%;
    width: 200;
    text-align: center;
  
  }
  .gg{
    color: blue;
    font-size: 30px;
  }
  
  p.mo{
  
     color: black;
    font-size: 24px;  
    background-color: burlywood;
    opacity: 10;
  }
  
  section > p {
      color: black;
    font-size: 0.5em;  
    opacity: 10;
  }
  
  header li {
  
  list-style:none;
  }
  a:link , a:visited{
      text-decoration: none;
      background-color: yellow;
      border: 1px solid;
      color: blue;
      display: block;
      width: 200px;
      text-align: center;
      margin-bottom: 2px;
  }
  
  a:hover , a:active {
  
      background-color: green;
      color: black;
  }
  
  header li:nth-child(3){
      font-size: 40px;
  }
  
  
  #part5 > div:nth-child(odd){
      background-color: grey;
      color: white;
      width: 500px;
  
  }
  #part5 > div:nth-child(4):hover{
      background-color: cyan;
      color: black;
      width: 200px;
  }

  /* p{
    background-color: white !important;
  
  } */
  #box {
      background-color: chartreuse;
      padding: 10px;
      border: 8px solid black;
      margin: 40px;
      width: 400px;
      height: 50px;
      overflow: auto;
  }
  #content{
      color: darkbluecontent;
  }

  #addimage {
    width: 400px;
    height: 400px;
    color:cornsilk;
    background-color: cadetblue;
    /* background-image: url('/sn.png');
    background-repeat: no-repeat;
    background-position: bottom; */
    background: url('/sn.png') no-repeat bottom cadetblue;

  }

  