*{
  box-sizing: border-box;
}
body {
  font-size: 12px;
  color: black;
  background-color: white;
}

/** HEADER **/
.navbar {
  background-color: gray;
  border: black solid 2px;
}

.navbar navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  line-height: .75;
  position: relative;
  top: 6px;
  bottom: 35px;
  padding-top: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 32px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
  text-align: center;
}

#nav-list {
  margin-top: 0px;
  background-color: white;
  margin-bottom: 0px;
}

#nav-list  li:nth-child(1){
  border-top: black solid 2px;
}

#nav-list a {
  text-align:center;
  color: black;
  border: 1.5px solid black;
  padding-top: 2px;
  line-height: 15px;
}

#nav-list a:hover {
  background: #E7E7E7;

}
#nav-list a span {
  font-size: 1.8em;
  text-align: center;

}
#collapsable-nav{
  border: none;
  margin-top: 6px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  color: black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle:after { 
  color: #ff0000;
}

/* END HEADER */
.jumbotron{
  /* background-color: gray; */
  height: 1000px;
  border: 1px solid black;
  text-align: justify;
  overflow: auto;
  font-family: 'Oxygen', sans-serif;
  font-size: 11px;
  padding-top: 3px;
}

span cen{
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
/* END HOME PAGE */

/********** Medium devices and Large devices **********/
@media (min-width: 992px)  {
  #nav-list a {
    display: none;
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list a {
    display: none;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .jumbotron {
    margin-top: 20px;
}
}